<section id="histoire" class=" py-8">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="mt-6 text-3xl font-bold tracking-tight text-amber-50 sm:text-3xl lg:text-4xl uppercase">Notre histoire
      </h2>
      <p class="text-sm font-bold uppercase tracking-widest text-white">GRT Associatif</p>
    </div>
    <ul class="mx-auto mt-12 grid max-w-md grid-cols-1 gap-14 sm:mt-16 lg:mt-16 lg:max-w-5xl lg:grid-cols-4 justify-items-center">
      @for (story of stories; let i = $index; track story) {
        <li class="group relative flex lg:flex-col list_card">
          @if (i != stories.length - 1) {
            <span
              class="absolute left-[18px] top-14 h-[calc(100%_-_32px)] w-px bg-gray-300 lg:right-0 lg:left-auto lg:top-[18px] lg:h-px lg:w-[calc(100%_-_72px)]"
              aria-hidden="true"></span>
          }
          <div
            class="inline-flex h-10 w-10 shrink-0 items-center justify-center rounded-xl border border-gray-300 bg-gray-50 transition-all duration-200 group-hover:border-gray-900 group-hover:bg-gray-900">

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 h-5 w-5 text-gray-600 group-hover:text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
            </svg>

          </div>
          <div class=" text-history ml-6 lg:ml-0 lg:mt-7 text-center">
            <h3
              class="text-xl font-bold  text-white before:mb-2 before:block before:font-mono before:text-sm before:text-gray-500">
              {{ story.title }}
            </h3>
            <h4 class="mt-2 text-base font-bold text-pink-400 text-lg">{{ story.description }}</h4>
          </div>
        </li>
      }
    </ul>
  </div>
</section>
