<div class="card max-w-sm rounded overflow-hidden shadow-lg">
  <div class="max-w-sm rounded overflow-hidden shadow-lg flex sm:block">
    <div class="relative">
      <img class="w-full clippy" src="{{streamer.image}}" alt="Sunset in the mountains">
    </div>
    <div class="pt-3 pb-5 px-5 flex flex-col items-center bg-amber-50  streamer-card">
      <p class=" streamer-name font-bold">{{ streamer.name }}</p>
      <div class="mt-5 flex flex-row justify-center items-start">
        <div class="px-3 text-center">
          <b class="text-xs"> <a href="https://www.twitch.tv/{{streamer.key}}" target="_blank"><i class="fa-brands fa-twitch text-purple-800 text-4xl"></i></a></b>
        </div>
      </div>
    </div>
  </div>
</div>
