<section id="association" class="container p-2 rounded-2xl">
  <div class="max-w-screen-xl mx-auto flex flex-col justify-center items-center">
    <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:gap-x-16 items-center">
      <div class="text-center lg:text-left">
        <h2 class="text-3xl font-extrabold text-white mb-4">
          L'association Rêves
        </h2>
        <p class="text-presentation text-lg text-gray-200 mb-8">
          En février 1994, et plus particulièrement, le samedi 5 février, c’était une rencontre entre 7 amis, une boîte à
          sucre en métal dans laquelle chacun a versé 50 francs tout cela pour construire beaucoup d’espoir et de motivation
          afin de permettre aux enfants très gravement malades de vivre le plus beau jour de leur vie, d’apprendre à se
          dépasser, à dépasser la maladie, à retrouver leur identité d’enfant et surtout à être le Héros de leur histoire !
        </p>
        <div class="btn">
          <a class="group relative inline-flex items-center overflow-hidden bg-gradient-to-r from-purple-700 to-violet-800 rounded-3xl border-gray-500 px-8 py-3 text-[#1c2e45] focus:outline-none focus:ring active:text-indigo-500 hover:text-white"
             href="https://www.reves.fr" target="_blank">
            <span class="absolute -end-full transition-all group-hover:end-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="
                        fill: rgba(255, 255, 255, 1);
                      ">
                      <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
                    </svg>
                  </span>
            <span data-aos="zoom-out-left" data-aos-easing="linear" data-aos-duration="800" class="text-sm font-medium text-slate-100 capitalize transition-all group-hover:me-4 aos-init aos-animate">
                    Lire plus ...
                  </span>
          </a>
        </div>
      </div>
      <div class="flex justify-center items-center">
        <img src="assets/images/reve.png" alt="Logo rêve" class="w-full h-auto img_reve">
      </div>
    </div>
  </div>
</section>
