<section id="stat">
<div class="mt-10 pb-1">
  <div class="relative">
    <div class="absolute"></div>
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-4xl mx-auto">
        <dl class="rounded-lg bg-blue bg-opacity-35 shadow-lg sm:grid sm:grid-cols-2">
          <div class="flex flex-col border-b border-blue-400 p-6 text-center sm:border-0 sm:border-r">
            <dd class="order-1 text-4xl font-extrabold text-pink">{{actual_online_streamers}}</dd>
            <dt class="order-2 mt-2 text-lg leading-6 font-medium text-amber-50 uppercase">
              Streamer en live
            </dt>
          </div>
          <div
            class="flex flex-col p-6 text-center">
            <dd class="order-1 text-4xl font-extrabold text-pink">{{actual_lottery}} €</dd>
            <dt class="order-2 mt-2 text-lg leading-6 font-medium text-amber-50 uppercase">
              Cagnotte Globale
            </dt>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
</section>
